<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Lynda Training</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<!-- UIkit CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/css/uikit.min.css" integrity="sha256-5YtK9j+Nl/245lAkSjrIs600d6edKTevi+3JYdjuHhY=" crossorigin="anonymous" />
	<!-- UIkit JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit.min.js" integrity="sha256-rhLALrRmAQVu/OxzVDpQaiHAEMxiRSN8h8RDydUEh2g=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit-icons.min.js" integrity="sha256-p2Y38iAB/pU4dGRY5eWPrWcPR4XwRDtQqxO9yoFTtF0=" crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" crossorigin="anonymous"></script>

</head>
<body>
	<div id="app">
		<nav class="uk-navbar-container" uk-navbar >
			<div class="uk-navbar-right uk-flex">
				<button class="uk-button uk-button-default uk-button-small" @click="sliderStatus = !sliderStatus"><span uk-icon="icon: credit-card"></span></button>
				<div class="uk-margin-small-left uk-padding-small" v-if="cart.length>0">
					<b>cart:</b>
					<a href="" class="uk-icon-button uk-background-primary uk-margin-small" style="color:#fff;">{{ cart.length }}</a>		
				</div>
			</div>
		</nav>

		<div class="uk-container uk-padding-small">		
			<h1>My Shop</h1>
			<div class="uk-width-1-1@s uk-align-center" :class="sliderState">
				<form action="">
					<label for="formMax" :class="labelArr">Max</label>
					<input id="formMax" type="text" class="uk-input uk-width-1-4@s uk-form-small" :style="{'width': inputWidth, textAlign:'center'}" v-model="maximum">
					<input type="range" class="uk-range" min="0" max="200" v-model="maximum">
				</form>
			</div>
			<div v-for="item in products" 
				v-if="item.price<=Number(maximum)">
					<div uk-grid>
						<div class="uk-width-1-3@m uk-text-center">
							<img :src="item.image" :alt="item.name" class="uk-align-center uk-margin-small-bottom">
							<button class="uk-button uk-button-default" v-on:click="addItem(item)"> + </button>		
						</div>
						<div class="uk-width-2-3@m">
							<h2>{{ item.name }}</h2>
							<p> {{ item.description }}</p>
							<p class="uk-h2">$ {{ Number(item.price) }}</p>
						</div>
					</div>
				
			</div>
		</div>
	</div>
	<script>
		var app = new Vue({
			 el: '#app',
			 data: {
			  inputWidth: 60,
			  sliderStatus: false,
			  labelArr: ['font-weight-bold', 'mr-2'],
			  maximum: 99,
			  products: null,
			  cart: []
			 },
			 computed: {
			  sliderState: function() {
			   return this.sliderStatus ? 'd-flex': 'd-none'
			  }
			 },
			 methods: {
			  addItem: function(product) {
			   this.cart.push(product);
			  }
			 },
			 mounted: function() {
			  fetch('https://hplussport.com/api/products/order/price')
			  .then(response => response.json())
			  .then(data => {
			    this.products = data;
			  })
			 }
			});

	</script>
	
</body>
</html>